@model AuditSystem.Core.Models.Audit_Exception_Details

@{
    ViewBag.Title = "Exception Details";
}

<h2>Exception Details</h2>

<div>
    @*<h4>Audit_Exception_Details</h4>*@
    <hr />
    <table class="table">
        <tbody>
            <tr style="border-style:hidden;">
                <td style="width:20%"><b> @Html.DisplayNameFor(model => model.Block.Block_Name) :</b></td>
                <td style="width:30%"> @Html.DisplayFor(model => model.Block.Block_Name) </td>
                <td style="width:20%"><b> @Html.DisplayNameFor(model => model.Block.Psc_Start_Date) : </b></td>
                <td style="width:30%">@Model.Block.Psc_Start_Date.ToString("dd-MM-yyyy") </td>
            </tr>

            <tr style="border-style:hidden;">

                <td><b> @Html.DisplayNameFor(model => model.Block.Revenue_Till_Date) : </b></td>
                <td>  @Html.DisplayFor(model => model.Block.Revenue_Till_Date) </td>

                <td><b> @Html.DisplayNameFor(model => model.Block.Expenditure_Till_Date) : </b></td>
                <td>  @Html.DisplayFor(model => model.Block.Expenditure_Till_Date) </td>
            </tr>

            <tr style="border-style:hidden;">
                <td><b>   @Html.DisplayNameFor(model => model.Year) : </b></td>
                <td>
                    From:  @Html.DisplayFor(model => model.Year)
                    To: @Html.DisplayFor(model => model.ToYear)
                </td>

                <td><b>  @Html.DisplayNameFor(model => model.Name_Of_Auditor) : </b></td>
                <td>  @Html.DisplayFor(model => model.Name_Of_Auditor) </td>
            </tr>

            <tr style="border-style:hidden;">
                <td><b>   @Html.DisplayNameFor(model => model.ExceptionNo) : </b></td>
                <td>
                    @Html.DisplayFor(model => model.ExceptionNo)
                    @Html.DisplayFor(model => model.ExceptionSubNo)
                </td>

                <td><b>   @Html.DisplayNameFor(model => model.NatureOfException) : </b></td>
                <td>   @Html.DisplayFor(model => model.NatureOfException) </td>
            </tr>

            <tr style="border-style:hidden;">
                <td><b>   @Html.DisplayNameFor(model => model.EXCEPTION_ISSUE_DATE) : </b></td>
                <td>
                    @Html.DisplayFor(model => model.EXCEPTION_ISSUE_DATE)
                   
                </td>

                <td><b>   @Html.DisplayNameFor(model => model.OPERATOR_REPLY_DATE) : </b></td>
                <td>   @Html.DisplayFor(model => model.OPERATOR_REPLY_DATE) </td>
            </tr>

            <tr style="border-style:hidden;">
                <td><b>   @Html.DisplayNameFor(model => model.ExceptionTitle) : </b></td>
                <td>   @Html.DisplayFor(model => model.ExceptionTitle) </td>

                <td><b>   @Html.DisplayNameFor(model => model.ZistOfException) : </b></td>
                <td>   @Html.DisplayFor(model => model.ZistOfException) </td>
            </tr>

            @*<tr style="border-style:hidden;">

            <td><b>   @Html.DisplayNameFor(model => model.ZistOfException) : </b></td>
            <td colspan="3">   @Html.DisplayFor(model => model.ZistOfException) </td>
        </tr>*@


            <tr style="border-style:hidden;">
                <td><b>   @Html.DisplayNameFor(model => model.ExceptionType) : </b></td>
                <td>   @Html.DisplayFor(model => model.ExceptionType) </td>

                <td><b>   @Html.DisplayNameFor(model => model.Quantum) : </b></td>
                <td> @Html.DisplayFor(model => model.Currency) :  @Html.DisplayFor(model => model.Quantum) </td>
            </tr>

            <tr style="border-style:hidden;">
                <td><b>   @Html.DisplayNameFor(model => model.OperatorsReply) : </b></td>
                <td>   @Html.DisplayNameFor(model => model.OperatorsReply) </td>

                <td><b>  @Html.DisplayNameFor(model => model.CFComments) : </b></td>
                <td>  @Html.DisplayFor(model => model.CFComments) </td>
            </tr>

            <tr style="border-style:hidden;">
                <td><b>   @Html.DisplayNameFor(model => model.BlockCoordinatorsComments) : </b></td>
                <td>   @Html.DisplayFor(model => model.BlockCoordinatorsComments) </td>

                <td><b>  @Html.DisplayNameFor(model => model.FinalRecommendations) : </b></td>
                <td>  @Html.DisplayFor(model => model.FinalRecommendations) </td>
            </tr>

            <tr style="border-style:hidden;">
                <td><b>   @Html.DisplayNameFor(model => model.ActionTaken) : </b></td>
                <td>   @Html.DisplayFor(model => model.ActionTaken) </td>

                <td><b> @Html.DisplayNameFor(model => model.CurrentStatus) : </b></td>
                <td> @Html.DisplayFor(model => model.CurrentStatus) </td>
            </tr>

            <tr style="border-style:hidden;">
                <td><b>   @Html.DisplayNameFor(model => model.Remark) : </b></td>
                <td>   @Html.DisplayFor(model => model.Remark) </td>
            </tr>

            @if (Model.S_Status != 0)
            {
                <tr style="border-style:hidden;">
                    <td><b>   @Html.DisplayName("Settlement Authorization Request No & Date") : </b></td>
                    <td>   <a target="_blank" href="~/Attachments/@Model.S_Doc_Address">@Model.S_Remark</a> </td>
                    @if (Model.S_Status == 1)
                    {
                        if (User.IsInRole("superuser") || User.IsInRole("admin"))
                        {
                            if (Session["UserId"].ToString().ToLower() != Model.S_InitiatedBy.ToLower())
                            {
                                <td colspan="2">
                                    <b> @Html.DisplayName("Process for Settlement: ")</b><br />
                                    @Html.ActionLink("Approve", "ApproveSettlement", "Exception", new { id = Model.ExceptionId }, new { @class = "btn btn-success", onclick = "return confirm('Do you want to Approve Settlement');" })
                                    &nbsp;
                                    @Html.ActionLink("Reject", "RejectSettlement", "Exception", new { id = Model.ExceptionId }, new { @class = "btn btn-danger", onclick = "return confirm('Do you want to Reject Settlement');" })
                                </td>
                            }
                            else
                            {
                                <td colspan="2">
                                    <p class="text-danger"> *Initiator and Approver for settlement of Exception can not be same</p>
                                    @Html.ActionLink("Reject", "RejectSettlement", "Exception", new { id = Model.ExceptionId }, new { @class = "btn btn-danger" })
                                </td>
                            }

                        }

                    }


                </tr>
            }

        </tbody>
    </table>
</div>






<hr />

<h4>Further Queries</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Further Query")
            </th>
            <th>
                @Html.DisplayName("Further Response")
            </th>
            <th>
                @Html.DisplayName("Block Coordinator Comments")
            </th>
            <th>
                @Html.DisplayName("CF Comments")
            </th>
            <th>
                @Html.DisplayName("Final Recommendations")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FurtherQuery)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FurtherQuery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FurtherOperatorsReply)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FurtherBlockCoordinatorsComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FurtherCFComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FurtherFinalRecommendations)
                </td>

            </tr>
        }
    </tbody>
</table>



<p>
    @if (User.IsInRole("superuser") || User.IsInRole("admin") || User.IsInRole("management") || User.IsInRole("coord"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ExceptionId })
        @Html.DisplayName(" |")
    }
    @if (User.IsInRole("superuser") || User.IsInRole("admin") || User.IsInRole("management"))
    {
        if (Model.ActionTaken == "Unsettled" && Model.S_Status == 0)
        {
            @Html.ActionLink("Proceed for Settlement", "InitiateSettlement", "Exception", new { id = Model.ExceptionId }, null)
            <br />
        }
    }


    @*@Html.ActionLink("Back to List", "Index") |*@
    @Html.ActionLink("Back to Block Details", "Details", "BlockManager", new { Id = Model.Block_Id }, null)
</p>
