@model AuditSystem.WebUI.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
}

@*<h2>Change Password</h2>*@
@if (ViewBag.Message != null)
{
    <div class="alert alert-info">@Html.Raw(ViewBag.Message)</div>
}

@*@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function() {
            alert('@Html.Raw(ViewBag.Message)');
        };
    </script>
}*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Change Password</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "New Password",
               pattern = @"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$",
               title = "Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character."
           } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RNewPassword, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Confirm Password" } })
                @Html.ValidationMessageFor(model => model.RNewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br />
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "BlockManager")
</div>
<script type="text/javascript">
    window.onload = function () {
        // Clear password fields
        document.querySelector('input[name="CurrentPassword"]').value = '';
        document.querySelector('input[name="NewPassword"]').value = '';
        document.querySelector('input[name="RNewPassword"]').value = '';
    };
</script>
